*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Gemunu+Libre:wght@200;500&family=Silkscreen&display=swap");
body {
	background: linear-gradient(45deg, #4adb8b, #5acc0a);
	font-family: "Comforter Brush", cursive;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#consigne {
	margin-bottom: 10vh;
}
#compteur {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin-bottom: 25vh;
}
#recommencer {
	width: auto;
	height: 5vh;
	border-radius: 10px;
	border: 1px solid black;
	margin: 10px 0 0 0;
}
#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: auto;
}
.grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-gap: 5px;
}
.item {
	width: 200px;
	height: 200px;
	transition: all 0.3s ease;
	transform-style: preserve-3d;
}
.front {
	position: absolute;
	height: 200px;
	width: 200px;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	border-radius: 20%;
}
.back {
	position: absolute;
	height: 200px;
	width: 200px;
	backface-visibility: hidden;
	border-radius: 20%;
}
.rotate {
	transform: rotateY(180deg);
}
